{% extends "base.html" %}

{% block content %}


<br>
<div style="border: 2px solid lightblue; color: lightblue; padding: 20px;
border-radius: 10px">
    <img src="{{user.avatar(128)}}" alt="photo" align="left" style="padding-right: 20px">
    <h2 style="color: darkred"> Профиль: {{user.nickname}}</h2>
    <h3>{{user.name}}</h3>
    <h4>Обо мне: </h4>
    <p>{{user.about}}</p>

    {% if current_user == user %}

    <a class="btn btn-danger" href="/logout">Выйти</a>
    {% endif %}
</div>
<h1 style="text-align: center">Доступные посты</h1>
{% if current_user == user %}
<a href="news" class="btn btn-secondary">Добавить запись</a>
{% endif %}
<br>
{% for item in news%}
<br>
{% if (item.is_private and current_user == user) or not item.is_private %}


<div class="col-md6 border rounded">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.nickname}}, Дата написания - {{item.created_date}}

        {% if current_user.is_authenticated and current_user == user %}
        <div style="text-align: right">
            <a href="/news={{ item.id }}" class="btn btn">
                <img src="../static/img/settings.png" alt="delete news">
            </a>
            <a href="/news_delete/{{ item.id }}" class="btn">
                <img src="../static/img/del.png" alt="delete news">
            </a>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
{% endblock %}